body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
/*
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: antiquewhite;
    
}

.ui form {
    background-color: antiquewhite;
}

.ui segment {
    background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
    font-family: cursive;
    
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
*/

.mapContainer {
  width: 40%;
  padding-top: 2em; 
  padding-left: 2em;
  background-color: lightblue;
}

.quakeContainer {
  width: 40%;
  padding-top: 2em; 
  padding-right: 2em;
  background-color: pink;
}